*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert-box{
    width: 540px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.alert-text{
    display: flex;
    align-items: center;
    flex-basis: 90%;
    gap: 10px;

}

.close-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    cursor: pointer;
}