*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:host{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-box{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(181, 181, 181, 0.705);
    background-color: black;
    border-radius: 1rem;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    
    box-shadow: 0 0 100px rgba(181, 181, 181, 0.747);
}

.button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-top: 2px solid #575757;
    margin-top: 10px;
}

button{
    background-color: white;
    padding: 10px 100px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}